
body{
    margin :0%;
    padding:0%;
    background-color: #B7CADB;
   
}

.header{
    background-color:#ffffff;
}
.logo{
    
    float: left;
    position: absolute;
    padding-left: 2%;
    padding-top: 3px;
}
.myButton {
	background-color:#ffffff;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#FFD24C;
	font-family: 'Montserrat', sans-serif;
	font-size:22px;
	padding:12px 29px;
	text-decoration:none;
    margin-top: 25px;
    right: 4%;
    position : absolute; 
}
.myButton:hover {
	background-color:#FFD24C;
    color : #ffffff;
    transition: 4ms;
    
}

.myButton1 {
	background-color:#ffffff;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#FFD24C;
	font-family: 'Montserrat', sans-serif;
	font-size:22px;
	padding:12px 29px;
	text-decoration:none;
    margin-top: 25px;
    right: 14%;
    position : absolute; 
}
.myButton1:hover {
	background-color:#FFD24C;
    color : #ffffff;
    transition: 4ms;
}

.middle{
    margin : auto;
    padding: 20%;
    object-fit: cover;
   
   
}

.pic{
  position: absolute;
  width: 1000px;
  height : 400px;
  top : 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;

  
}
.top-text{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    position: absolute;
    top : 39%;
    left: 37%;
    font-weight: bold;
    color: black;
    letter-spacing: 5px;
    text-align:center;
    width: 25%;


}
/*Main*/
.Restaurant1{
    margin-bottom : 10%;
    
    right : 100%;
    float:right;
    position: absolute;
    width: 69.3%;
   
}
.container{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
   
    float : left;
    left : 43.3%;
}
.Place1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;

}
.type1{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
    
   
}
.P1{
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 34%;
}
.P2{
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    

}
.P3{
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 35%; 
    left : 46%;
    

}
.price1{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  67%; 
    margin-top: 4%;
    text-align: center;
    
    
}
.container2{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
    
    float : left;
    left : 6.5%;
    margin-top: 19%;
}
.Place2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;

}
.type2{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
   
   
}
.price2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  65%; 
    margin-top: 7%;
    text-align: center;
    
    
}
.P4{
    
        color: #92B4EC;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        position: absolute;
        left: 10%;
        top: 34%;
    
}
.P5{
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    

}
.P6{
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 35%; 
    left : 46%;
    

}
.Restaurant2{
   
   
    right : 100%;
    float:right;
    position: absolute;
    margin-bottom: 3rem;
    width: 70%;
    height:100%;
   object-fit: cover;
    
}

.container3{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
    float : left;
    left : 43%;
    margin-top: 5%;
    margin-bottom: 70px;
}
.Place3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    

}
.type3{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
   
   
}
.price3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  65%; 
    margin-top: 7%;
     text-align: center;
    
    
}
.Restaurant3{
   
    
    right : 100%;
    float:right;
    position: absolute;
    margin-bottom: 3rem;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.P7{
    
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 34%;

}
.P8{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;


}
.P9{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;
top: 35%; 
left : 46%;


}
.container4{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
    float : left;
    left : 6%;
    margin-top: 25%;
    margin-bottom: 70px;
}

.Place4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    

}
.type4{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
   
   
}
.price4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  65%; 
    margin-top: 7%;
     text-align: center;
    
    
}
.Restaurant4{
   
    
    right : 100%;
    float:right;
    position: absolute;
    margin-bottom: 3rem;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.P10{
    
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 34%;

}
.P11{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;


}
.P12{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;
top: 35%; 
left : 46%;


}
.container5{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
    float : left;
    left : 43%;
    margin-top: 2%;
    margin-bottom: 70px;
}

.Place3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    
    

}
.type5{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
   
   
}
.price5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  65%; 
    margin-top: 7%;
     text-align: center;
    
    
}
.Restaurant5{
   
    
    right : 100%;
    float:right;
    position: absolute;
    margin-bottom: 3rem;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.P13{
    
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 34%;

}
.P14{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;


}
.P15{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;
top: 35%; 
left : 46%;


}
.container6{
    position: relative;
    width: 620px;
    height : 250px;
    background: #ffffff;
    float : left;
    left : 6%;
    margin-top: 23%;
    margin-bottom: 70px;
}

.Place3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    
    

}
.type6{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    color: #92B4EC;
    padding: 0px 0PX 17px 3px;
   
   
}
.price6{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#FFD24C;
    padding-left:  65%; 
    margin-top: 7%;
     text-align: center;
    
    
}
.Restaurant6{
   
    
    right : 100%;
    float:right;
    position: absolute;
    margin-bottom: 3rem;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.P16{
    
    color: #92B4EC;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    position: absolute;
    left: 10%;
    top: 34%;

}
.P17{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;


}
.P18{
color: #92B4EC;
font-family: 'Montserrat', sans-serif;
font-size: 17px;
position: absolute;
left: 10%;
top: 35%; 
left : 46%;


}

/* FOOTER*/
.footer{
	background-color: #FFFFFF;
	width:100%;
	
	height: 375px;
	top:383%;
	position: absolute;
	
}
ul {
	list-style: none;
}

.footer-img{

    height: 200px;
    width: 300px;
    top : 0px;
    left: 20px;
    position: absolute;
    display: flex;
    
}
.Description-part{
    
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    display: flex;
    margin-top: 73px;
    width: 20%;
    padding: 70px 120px;
    left: 0px;
    padding-left: 2%;
}
h4{
	line-height: 10px;

}
.footer-col{
	
    padding: 60px 30%;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 20px;
	line-height: 30px;
	text-align: center;
    left: 5%;
	position: absolute;
   
 }
 .footer-col2{
	
    padding: 60px 30%;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 20px;
	line-height: 30px;
	text-align: center;
    left: 17%;
	position: absolute;
   
 }
 .footer-col3{
	
    padding: 60px 0%;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 20px;
	line-height: 30px;
	text-align: center;
    right: 15%;
	position: absolute;
   
 }
 .social{
	text-align: center;
	font-size: 40px;
    
 }
 a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    
 }
 

 /* END FOOTER */

 